<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../information-element/information-element.html">
<link rel="import" href="../textsuccess-element/textsuccess-element.html">
<link rel="import" href="../transactions-element/transactions-element.html">
<link rel="import" href="../cryptoinfo-element/cryptoinfo-element.html">

<dom-module id="content-element">
  <template>
    <style>
      :host {
        display: block;
        height: 400px;
      }
      section {
        width: 100%;
        height: 100%;
      }
      nav {
        width: 100%;
        height: 10%;
        background-color:#254f05;
      }
      main {
        width: 100%;
        height: 90%;
      }
      .tabs ul {
        display:flex;
        list-style:none;
        margin:0;
        padding:0;
        height: 100%;
        /* border: 1px solid #d92aee; */
      }
      .tabs ul li {
        /* border: 1px solid #d92aee; */
        width: 33.33%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items:center;
        color:#fff;
      }
      .content {
        background-color:#bfbfc1;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <section>
      <nav class="tabs">
        <ul>
          <li>Agregar alumno</li>
          <li>Lista Alumnos</li>
          <li>Lista Maestros</li>
        </ul>
      </nav>
      <main class="content">
        <information-element></information-element>
        <!-- <transactions-element></transactions-element> -->
      </main>
    </section>
  </template>

  <script>
    /**
     * `content-element`
     * Content
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ContentElement extends Polymer.Element {
      static get is() { return 'content-element'; }
      static get properties() {
        return {

          // prop1: {
          //   type: String,
          //   value: 'content-element'
          // }
        };
      }
    }

    window.customElements.define(ContentElement.is, ContentElement);
  </script>
</dom-module>
